@import "tailwindcss";
@import "../../../libs/shared/ui/src/styles.css";

@source "../../../libs/shared/ui/src";
@source "../app";

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(8px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
